@model Medical_record.Application.DTOs.DoctorVisitVM
@{
    ViewData["Title"] = "AddPhieuKham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- App body starts -->
<div class="app-body">

    <form asp-action="AddPhieuKham" method="post">
        <!-- Row starts -->
        <div class="row gx-3">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Add Patient Details</h5>
                    </div>
                    <div class="card-body">

                        <!-- Row starts -->
                        <div class="row gx-3">
                            <div class="col-xxl-3 col-lg-4 col-sm-6">
                                
                                    <div class="mb-3">
                                        <label class="form-label" for="a8">Doctor</label>
                                        <select class="form-select" id="a8" asp-for="EmployeeId">
                                        @foreach (var doctors in ViewBag.ListDoctors)
                                        {
                                            <option value="@doctors.EmployeeId">@doctors.Name</option>
                                        }

                                        </select>
                                    </div>
                               
                            </div>
                            <input type="hidden" asp-for="RecordId" value="@ViewBag.RecordId" />
                            <div class="col-xxl-3 col-lg-4 col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label" for="a3">Date Check<span class="text-danger">*</span></label>
                                    <input type="date" class="form-control" asp-for="Date" id="a2" placeholder="Enter date">

                                </div>
                            </div>
                            
                           
                          
                            <div class="col-sm-12">
                                <div class="d-flex gap-2 justify-content-end">
                                    <a href="patients-list.html" type="button" class="btn btn-outline-secondary">
                                        Cancel
                                    </a>
                                    <button type="submit" class="btn btn-primary">
                                        Create Patient Profile
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Row ends -->

                    </div>
                </div>
            </div>
        </div>
        <!-- Row ends -->
    </form>

</div>
<!-- App body ends -->

